beautifulsoup4==4.12.3
celery==5.4.0
Flask==2.2.5
Flask_Cors==4.0.1
Flask_JWT_Extended==4.6.0
Flask_Limiter==3.7.0
langchain==0.2.2
langchain_community==0.2.2
langchain_openai==0.1.8
neo4j==5.20.0
openai==1.31.0
python-dotenv==1.0.1
Requests==2.32.3
gunicorn
